body {
  position: relative;
  /*background: #1d1612;*/
  background: black;

  opacity: 1;
  height: 100%;

  color: #519975;

  font-family: cursor, monospace;
  padding-left: 0.5%;
  white-space: nowrap;
  font-size: 16px;
}

#project{
  color: #00b8be;
}

#mobileWhoIs{display: none;}
#commandnotfoundmobile{display: none;}
#commandTextMobile{display: none;}
body::after {
  content: "";
  background-image: url(attachments/forrest.jpeg);
  /*background-image: url(spaceman2.jpg);*/
  /*background-image: url(Astronaut.jpeg);*/
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
#mainText {
  margin-bottom: 5px;
  
}
#startText {
  color: #dcdccc;
}
#underBanner {
  color: #dcdccc;
}
#notFound {
  color: #dcdccc;
}

#commandText {
  color: #00b8be;
  text-shadow: 0 0 5px #73abad;
}
#commandTextMobile {
  color: #00b8be;
  text-shadow: 0 0 5px #73abad;
}
#commandTextDesk {
  color: #00b8be;
  text-shadow: 0 0 5px #73abad;
}
#emailText {
  color: #00b8be;
}
#welcomeText {
  padding-bottom: 40px;
  margin-bottom: 10px;
}
p {
  display: block;

  margin: 0;
  overflow: hidden;
  white-space: pre;
  margin: 0;
  animation: typing 1s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
textarea {
  color: #00b8be;
  background-color: transparent;
  position: absolute;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0%;
  padding-left: 0.5%;
  margin: 0;
  display: inline-block;
  resize: none;
  overflow-y: hidden;
  size: 150%;
}

a {
  color: #00b8be;
  text-decoration: none;
}



#mobilebanner{
  display: none;
}

#mobileterminalText{display: none;}
#terminal::before {
  color: #519975;
  content: "guest@adamrohr.se~$";
  width: 100%;
  margin: 0;
  right: 20%;
}

@media only screen and (max-width: 600px) {
  #forMobile {
    display: inline;
    color: #00b8be;
  }
  body{
    font-size:11.5px;
    background: black;
  }
  #mobilebanner{
    display:block;
  }
  #banner{
    display: none;
  }
  
  p{
    white-space:pre;
  }
  #WhoIs{display: none;}
  #mobileWhoIs{display: block;}
  #terminalText{display: none;}
  #mobileterminalText{display: inline-block;
    border-style: dotted;
    border-width: 1px;
          
  }
  #notFound{display: none;}
  #commandTextDesk{display: none;}
  #commandnotfoundmobile{display: inline-block;}
  #commandTextMobile{display: inline-block;}

  body::after {
    background-image: none;
    
  }
}
